@import 'tailwindcss';
@import './typo.css';

:root {
  font-family: Pretendard Variable;

  --primary: #c9e9d2;
  --secondary-blue: #ccdeed;
  --secondary-orange: #ffba43;
  --gray-scale: #191e1a;
  --other-blue: #3185d8;
}

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --breakpoint-default: 1440px;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary-blue: var(--secondary-blue);
  --color-secondary-orange: var(--secondary-orange);
  --color-gray-scale: var(--gray-scale);
  --color-other-blue: var(--other-blue);
  --shadow-main: 0 4px 16px rgba(0, 0, 0, 0.15);
  --drop-shadow-main: 0 4px 16px rgba(0, 0, 0, 0.15);
}

@custom-variant dark (&:where(.dark, .dark *));
html,
body {
  @apply bg-white transition-colors duration-[1s] dark:bg-black dark:text-white;
}
